$navbarHeight: 50px;

@import "bootstrap";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Muli|Quattrocento);

$icon-red: #D41717;
$icon-green: #078500;
$icon-blue: #0036AB;
$icon-violet: #AB00A5;


body {
  padding-top: 50px;
}

.dropdown-menu {
  padding-top: 0px;
  margin-top: 0px;
  &:before,&:after {
    border: none !important;
    content: "" !important;
  }
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
}

i {
  padding-left: 5px;
  &.about {
    color: $icon-red;
  }
  &.research {
    color: $icon-green;
  }
  &.teaching {
    color: $icon-blue;
  }
  &.contact {
    color: $purple;
  }
  &.blog {
    color: $orange;
  }
}

.navbar {
  a {
    font-family: "Muli",Helvetica,Arial,sans-serif;
    font-size: 18px;
    &.brand {
      font-size: 30px;
    }
  }
  i {
    transition: text-shadow 0.5s ease;
    -webkit-transition: text-shadow 0.5s;
  }
}
h1.about {
  color: $icon-red;
}
h1.research {
  color: $icon-green;
}
h1.teaching {
  color: $icon-blue;
}
h1.contact {
  color: $purple;
}
h1.blog {
  color: $orange;
}

.navbar li:hover i {
  transition: text-shadow 0.5s ease;
  -webkit-transition: text-shadow 0.5s;
  &.about {
    text-shadow: 0 0 5px lighten($icon-red, 10%);
  }
  &.research {
    text-shadow: 0 0 5px lighten($icon-green, 10%);
  }
  &.teaching {
    text-shadow: 0 0 5px lighten($icon-blue, 10%);
  }
  &.contact {
    text-shadow: 0 0 5px lighten($purple, 10%);
  }
  &.blog {
    text-shadow: 0 0 5px lighten($orange, 10%);
  }
}

ul {
  li{
    list-style: none;
  }
}

.logo {
  line {
    stroke: rgb(255,0,0);
    stroke-width: 2;
  }
  text {
    fill: "grey";
  }
}

.container {
  img {
    display: float;
    float: right;
    padding-left: 100px;
    clear: right;
    padding-bottom: 1rem;
  }

  figure {
    display: float;
    float: left;
    padding-left: 20px;

    img {
        display: block;
        padding-left: 0;
        float: none;
    }
    figcaption {
        display: block;
        padding-left: 0;
    }
  }

  p,li,ol {
    font-family: "Quattrocento";
  }

  h1 {
    padding-bottom: 20px;
  }

  h1,h2,h3 {
    clear: both;
    font-family: "Muli",Helvetica,Arial,sans-serif;
  }
}
